.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episodeContainer {
  display: flex;
  flex-direction: column;
}
.episodeInfo h3 {
  padding: 24px 0px 4px;
}

.episodeCharacter {
  display: flex;
  padding: 0.2rem;
  justify-content: center;
  list-style-type: none;
}
